<body class="margin">
<h2> M∩ Movie Intersection </h2>
<h2> List of Movies To Watch </h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Movie Year</th>
      <th>Imdb Score</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |movie|}}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.imdbrating}}</td>
        <button {{action "deleteMovie" movie}}> Delete</button>
      </tr>
    {{/each}}
  </tbody>
</table>
<h2> Watched Movies </h2>
</body>
{{create-new-movie model=model createMovie="createMovie"}}
{{outlet}}
